.CommentBox {
    background-color: #343536;
    color: #d7dadc;
    font-size: 1rem;
    padding: 1rem;
    border-left: solid green;
    border-top: solid black;
    margin: 1rem 0rem;
}

.comment {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.username {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.CommentContainer {
    width: 70%;
    margin: auto;
    height: auto;
}
